<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Library</title>

    <link rel="stylesheet" type="text/css" href="../../public/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
</head>
<body>


    <form id ='addMov'>
        Find Movie: <br>
        <input type="text" name="Movie_Title" id="movSearch" placeholder="Movie Title">
        <input type="submit" value="Search" id="find"> 
    </form>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../public/assets/javascript/omdb_api.js"></script>
</body>
</html>