<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Library</title>

  
    <!-- favicon -->
  <link rel="shortcut icon" href="../public/assets/images/favicon_img.png">
    <!-- favicon -->

</head>

<body>


    <form id='movieSearch' method="POST" action="/api/omdb">
        Movie Search: <br>
        <input type="text" name="movieTitle" id="movSearch" placeholder="Movie Title">
        <button type="submit" value="Search" id="find">
    </form>

    <div class="movieContainer">Movie:

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/javascript/omdbSearch.js"></script>
</body>

</html>